#root {
  padding: 0 3rem;
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.nav-container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  padding: 5px 10px;
  margin-right: 1rem;
}

input[type="text"]:focus {
  outline: none;
}

input::placeholder {
  color: black;
}

.login {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.25rem 0.75rem;
  background: red;
  color: white;
  border-radius: 2px;
}

.logo {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
}

.wallpaper {
  width: 1068px;
  height: 300px;
  background-image: url(./wallpaper.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.wallpaper-title {
  display: flex;
  margin-top: 5.5rem;
  margin-left: 2rem;
  text-align: left;
  flex-direction: column;
}

.film-container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.wrapper {
  width: 1fr;
  background-color: black;
}

.img {
  width: 150px;
  height: 200px;
}

.title,
.date,
.rate {
  font-size: 1rem;
  color: white;
}

.sub-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sub-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: 600;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.date {
  color: gray;
}

.judul {
  width: 1068px;
  font-size: 2rem;
  margin-left: 5px;
  text-align: start;
}
